*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Backgroundcolors-------------------------------------------------------------------------------------------------

$background-color-dark: rgb(67, 61, 61);




//Textcolors ------------------------------------------------------------------------------------------------------
$text-color-light: rgb(202, 202, 202);



//HoverColors---------------------------------------------------------------------------------------------------------
$text-color-light-hover: rgb(255, 255, 255);