.header{
    width: 100%;
    min-height: 10vh;
    background-color: black;
    color: $background-color-dark;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

    h2 a{
        flex: 1;
        color: $text-color-light;
        text-decoration: none;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    nav{        

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex:1;

        ul{
            width: 100%;
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            list-style: none;

            li a{
                padding: 10px 20px;
                text-decoration: none;
                color: $text-color-light;
                transition: ease-in-out 0.5s;
                cursor: pointer;
            }
            li a:hover{
                padding: 10px 20px;
                text-decoration: none;
                color: $text-color-light-hover;
                cursor: pointer;
            }
        }
    }
}